body{
    background:#0f172a;
    color:white;
    font-family:sans-serif;
    text-align:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,250px);
    gap:20px;
    justify-content:center;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:20px;
}
