body {
    margin:0;
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container {
    width:90%;
    max-width:500px;
    margin:50px auto;
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 30px rgba(0,0,0,0.5);
    animation:fadeIn 1s ease;
}

input {
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    background:#334155;
    color:white;
}

button {
    width:100%;
    padding:12px;
    background:#38bdf8;
    border:none;
    border-radius:8px;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover {
    background:#0ea5e9;
    transform:scale(1.05);
}

.proofCard {
    background:#334155;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    animation:slideUp 0.4s ease;
}

@keyframes fadeIn {
    from {opacity:0; transform:translateY(20px);}
    to {opacity:1;}
}

@keyframes slideUp {
    from {opacity:0; transform:translateY(30px);}
    to {opacity:1;}
}
