body{
    margin:0;
    background:#0b1120;
    font-family:Arial;
    color:white;
}

header{
    background:#020617;
    padding:15px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    border-bottom:1px solid #1e293b;
}

.container{
    width:95%;
    max-width:900px;
    margin:20px auto;
}

.card{
    background:#111827;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
    animation:fade .4s ease;
}

button{
    background:#38bdf8;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
    margin-top:5px;
}

button:hover{
    background:#0ea5e9;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:6px;
    border:none;
    background:#1f2937;
    color:white;
}

@keyframes fade{
    from{opacity:0;transform:translateY(15px);}
    to{opacity:1;}
}
